.card {
  min-width: 150px;
  min-height: 150px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(66, 66, 66);

  box-shadow: 2px 2px 5px 2px black;

  cursor: pointer;
  border: 0;
  outline: solid 2px rgba(255, 255, 255, 0.87);
  transition: transform 30ms ease-in-out;
}

.card:hover {
  transform: scale(102%);
}

p {
  color: rgba(255, 255, 255, 0.87);
  font-size: 1.2em;
}
